.navbar {
    font-family: 'Roboto', sans-serif;
    margin: 0 1.3em 0 1.2em;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navbar > ul {
    margin: 3px 0;
    padding: 3px 0 3px 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar.dark-navbar > ul {
    background-color: hsl(240, 18%, 20%);
}

.nav-li {
    font-size: 14px; 
    text-transform: lowercase;
    margin: 0 1.1em 0 0em;
    position: relative;
    text-align: left;
    letter-spacing: .1em;
}

.nav-li:last-child {
    margin-right: 0.25em;
}

.nav-li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: hsl(22, 100%, 90%);
    right: 0;
    bottom: -80%;  
    opacity: 0;
    transition: .2s ease;
}

.dark-nav-li::after{
    background-color: hsl(22, 100%, 85%);
}

.selected-nav-li {
    pointer-events: none;
}

.selected-nav-li::after { 
    width: 100%;
    left: 0;
    bottom: -19%;
    opacity: 1;
}

.nav-link {
    font-weight: 500;
    color: hsl(22, 100%, 96%);
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    transition: .0s ease;
}

.nav-link:hover{
    color: hsl(55, 87%, 92%);
}

.dark-nav-link {
    color: hsl(22, 100%, 88%);
}


@media only screen and (min-width: 1340px) {

    .navbar.dark-navbar > ul {
        background-color: hsl(240, 18%, 20%);
    }

    .navbar > ul {
        flex-direction: row;
    }

    .nav-li {
        font-size: 15px; 
        margin: 0 1.2em 0 1.2em;
        text-align: center;       
    }

    .nav-link > img {
        margin-left: 4px;
    }
}